:root{
    --mount-meadow: #1bbc9c;
    --white-smoke: #f0f0f0;
    --night-rider: #343434;
    --black: #191b17;
    --transition: all 0.5s ease-in-out;
}
*{
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    color: var(--black);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.623)), url(http://k17.kn3.net/8CFABFEA6.jpg) center/cover no-repeat;
}
/* setup & reusable stylings */
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--black);
}
li{
    list-style-type: none;
}
button{
    cursor: pointer;
    outline: 0;
    background: transparent;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
h1, h2, h3, h4, h5, h6{
    margin: 0.6rem 0;
    line-height: 1.25;
    font-weight: 400;
    text-transform: capitalize;
}
.text{
    margin: 0.6rem 0;
    opacity: 0.8;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding: 6.5rem 0;
}
.title{
    padding: 0.6rem 0;
    text-align: center;
}
.title h2{
    font-size: 2.2rem;
    color: var(--night-rider);
}
.title .text{
    font-weight: 500;
    font-size: 1.1rem;
}

/* header */
.header{
    background-image: url(../assets/header-bg.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 400px;
    height: 550px;
	margin: auto;
}

.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 520px;
}




/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
    flex-wrap: wrap;
    text-align: center;
}

.simply-section {
	background: #fff;
	width: 180px;
	height: 180px;
	margin: 0 20px;
	border-radius: 555px;
	border: 2px solid grey;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 40px;
	font-weight: 700;
    color: grey;
}

.simply-word {
	font-weight: 300;
	font-size: 30px;
    color: grey;
}




/* contact section */
.contact-content{
    gap: 8rem;
}
.contact-right iframe{
    height: 165x;
    width: 100%;
    border-radius: 15px;
    border: 15px;
    border-color: #000;
}
.contact-info{
    margin-top: 4rem;
    gap: 6rem;
}
.contact-info-group p.text{
    margin-top: 1rem;
}
.contact-left .form-control{
    padding: 1rem 0;
    color: var(--grey-color);
    border-bottom: 2px solid var(--grey-color);
    margin-bottom: 3rem;
}
.contact-left textarea{
    border: 2px solid var(--grey-color);
    padding: 1rem!important;
}

.titulo{
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-family: 'Patrick Hand', sans-serif;

}

#contact{
    background: linear-gradient(to right, rgba(231, 10, 10, 0.555), rgba(255, 0, 0, 0.11)), url(https://pbs.twimg.com/media/EWPlDN6XgAQ-BY5?format=jpg&name=large) center/cover no-repeat;
}

/* #### Media Queries #### */

@media screen and (min-width: 768px){
    .detail .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .detail-item{
        margin: 0;
    }
    .video h2{
        font-size: 2.6rem;
    }
    .video p{
        font-size: 1.2rem;
        width: 75%;
        margin: 0 auto;
    }
    .team-item{
        margin: 0;
    }
    .faq .row{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .pricing .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .pricing-item{
        margin: 0;
    }
    .testimonial-item p{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .contact-right > div:first-child{
        margin-top: 0;
    }
}

@media screen and (min-width: 992px){
    .navbar{
        background: transparent;
        margin-top: 1.4rem;
    }
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand{
        color: var(--white-smoke);
        font-size: 2rem;
    }
    .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        display: block!important;
    }
    .navbar-nav{
        display: flex;
        margin: 0;
    }
    .nav-item{
        margin-left: 1.8rem;
    }
    .nav-link{
        color: var(--white-smoke);
    }
    .hero-div h1{
        font-size: 3.8rem;
    }
    .btn-trans{
        display: inline-block;
        margin-right: 0.8rem;
    }

    /* navbar change */
    .cng-navbar{
        -webkit-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        -moz-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        margin-top: 0;
        background: #fff;
    }
    .cng-navbar .navbar-brand{
        color: var(--night-rider);
    }
    .cng-navbar .nav-link{
        color: var(--night-rider);
    }
    .feature .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
    }
    .feature-right{
        margin-top: 0;
    }
    .video p{
        width: 60%;
    }
}

@media screen and (min-width: 1200px){
    .hero-div h1{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .detail .row{
        grid-template-columns: repeat(3, 1fr);
    }
    .pricing .row{
        grid-template-columns: repeat(3, 1fr);
    }
    .testimonial-item p{
        width: 60%;
    }
    .contact .row{
        column-gap: 4rem;
    }
    .contact-right{
        padding-left: 4rem!important;
    }
}